body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100vh;

  font-family: sans-serif;

  background: #3C3B3F;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
}

.option {
  display: block;
  margin-bottom: 20px;
}

.check {
  padding-left: 30px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;

  margin-left: -30px;
  width: 20px;
  height: 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #4A90E2;
  overflow: hidden;
}

.check__input:checked + .check__box {
  background-color: #4A90E2;
  background-image: url(../images/check.svg);
}

.check__input:focus + .check__box {
  box-shadow:
      0 0 0 2px #4A90E2,
      0 0 0 2px #7ED321;
}

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 2px #9B9B9B;
  cursor: not-allowed;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
  cursor: not-allowed;
}

.row {
  display: flex;
  align-items: center;
  width: 200px;
}

.left-column {
  margin-right: 20px;
}

.box {
  display: none;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  padding: 10px;

  width: 50px;
  height: 50px;
  
  border: 2px solid green;
}

.box--active {
  display: flex;
}